*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    color: #fff;
    font-family: system-ui;
}
.cruds{
    width: 80%;
    margin: auto;
    
}
.head{
    text-align: center;
    margin: 20px;
    font-size: 25px;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    margin: 10px;
    background-color: #111;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
}
input:focus{
    background-color: black;
   transform: scale(1.1);

}
.price{
    display: flex;
    
    align-items: center;
}
#total{
    width: 40%;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    display: flex;
justify-content: start;    background-color: rgb(164, 3, 3);
}#total::before{
    content: "Total:";
}
button{
    width: 102%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    background-color: purple;
    border-radius: 20px;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: 0.5s;
    margin: 10px;
}
button:hover{
    background-color: rgb(138, 7, 185);
    letter-spacing: 2px;
}
.btn_search{
    width: 103%;
    display: flex;
    justify-content: space-between;
}

table{
        width: 100%;
        text-align: center;
    }
    tr{
        display: flex;
        justify-content: space-between;
    }
    
    #update, #delete{
        width: 100%;
    overflow: hidden;
    padding: 0; 
    margin: 0;
    }
    tr{
        display: flex;
        align-content: center;
        margin: 20px;
        align-items: center;margin: 8 px;
    }
    thead{
        font-size: 25px;
        font-weight: bold;
    }
    
    td{
    }
    tbody {
        text-align: center;

    }